<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full"></script>


</head>
<body>
<form id="addq" th:action="@{/addq}"   method="post" >
    <div>
        <input type="text" name="topic" id="topic"  placeholder="题目">
<!--        `i(t_b)=A[(1-n)*t/r+b]/[(t_b/r)+b]^(n+1)`-->
    </div>
    <input type="submit"  value="提交">
</form>
<a href="https://www.latexlive.com/"  target="_blank">Latex 在线生成网站:https://www.latexlive.com/</a>

</body>
</html>